%h1= @song.title

=link_to "Back", root_path, class: "btn btn-default"
=link_to "Edit", edit_song_path, class: "btn btn-default"
=link_to "Delete", song_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"